@import url(../../styles/theme.less);
.home-wrap {
  width: 100%;
  padding: 10px 10px 0;
  box-sizing: border-box;
  .content {
    height: 120px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.menu-wrap {
  margin-top: 28px;
  p {
    color: @color-title;
    margin-top: 10px;
    font-weight: bold;
  }
  .menu-item {
    color: @color-title;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .icon {
    width: 40px;
    height: 40px;
    display: block;
  }
}
