@import url(./blanket.css);
@import url(./styles/theme.less);

.App {
  width: 100vw;
  height: 100vh;
  color: black;
  overflow: hidden;
  background-color: #e3e3d3;
}

:root:root {
  --adm-color-primary: #1866bb;
}
.map-wrap .adm-list-item-content-main {
  padding: 4px 0 !important;
}
